257ch|v|-25|d|7ch Stereo
25hall|v|-25|d|Hall in Vienna
25std|v|-25|d|Standard
307ch|v|-30|d|7ch Stereo
30hall|v|-30|d|Hall in Vienna
30std|v|-30|d|Standard
357ch|v|-35|d|7ch Stereo
35hall|v|-35|d|Hall in Vienna
35std|v|-35|d|Standard
ccst|i|HDMI4|v|-25|d|Standard
off|p|0
on|p|1
pc|i|HDMI3|v|-25|d|Standard
sptfy|i|Spotify|v|-25|d|Hall in Vienna
tv|i|HDMI2|v|-25|d|Standard
