sptfy|i|Spotify|v|-25|d|Hall in Vienna
tv|i|HDMI2|v|-25|d|Standard
pc|i|HDMI3|v|-25|d|Standard
ccst|i|HDMI4|v|-25|d|Standard
25hall|v|-25|d|Hall in Vienna
257ch|v|-25|d|7ch Stereo
25std|v|-25|d|Standard
30hall|v|-30|d|Hall in Vienna
307ch|v|-30|d|7ch Stereo
30std|v|-30|d|Standard
35hall|v|-35|d|Hall in Vienna
357ch|v|-35|d|7ch Stereo
35std|v|-35|d|Standard
